<center>
  <h1>**** Bienvenu ****<h1>


<p> Notre cite Voous permet de gérer vos liste de magasin </p>
<a href ="<%= shops_path%>" class="btn btn-primary"> Voir la liste d'article </a>
<a class="btn btn-primary" href="<%= new_shop_path%>"> Ajouter </a>
<a class="btn btn-primary" href="/impoter">Importer Une base de données</a>
</center>
